@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은고딕";
}

a{
    color:inherit; 
    text-decoration:none;
}

button{
    cursor:pointer;
}

body,html{
    min-width:960px;
}

.all{
    width:100%; 
    float:left;
}
.wrap{
    width:960px;
}
.clear{
    clear:both; 
    position:inherit;
}

header{
    height:400px;
}

#header_div{
    padding-top:10px;
}

.logo{
    height: 100px;
    overflow: hidden;
    float: left;
}

.logo > a > h1{
    width: 250px;
    margin-top: 50px;
}

nav{
    float: right;
    margin-top: 30px;
    padding: 10px;
}

.nav{
    width: 800px; 
    height: 20px;
}

.nav > li{
    float: left;
    width: 200px;
    text-align: center;
    position: relative;
    transition: all 0.4s;
    padding: 5px 0;

}

.nav > li:hover{
    background-color: black;
    color: white;
    text-decoration:underline;
}

.submenu{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 5px;
    background-color: gray;
}

.submenu > li{
    padding: 5px 0;
    transition: all 0.4s;
    color: #000;
}

.submenu >li:hover{
    background-color: silver;
    color: black;
    text-decoration:underline;
}

#imgslide{
    margin-top: 10px; 
    height: 500px;
}

.imgs{
    position: relative; 
    overflow: hidden; 
    height: 500px;
    width: 960px; 
    background-color: #fff;
}
    
.imgs>img{
    width: 100%; 
    position: absolute; 
    transition: all 2s;
}

#contents{
    height:500px;
}

.notice{ 
    width: 480px; 
    margin-top: 20px; 
    float: left;
}

.notice h2{
    text-align: center;
}

.recommend{
    width: 480px;
    margin-top: 20px;
    float: right;
}

.recommend h2{
    text-align: center;
}

.new_info{
    margin-top: 30px;
    text-align: left;
    margin-left: 30px;
}

.icon{
    margin-top: 20px;
}

.icons{
    text-align: center;
}

.imgbtn{
    width: 160px; 
    margin: 0 20px; 
    display: inline-block;
}

.imgbtn button{
    padding: 10px; 
    background-color: silver;
    color: #fff; 
    border: none; 
    border-radius: 10px; 
    font-size: 20px;
}

button{
    cursor: pointer;
}

.imgbtn > button:hover{
    background-color: black;
    color: silver;
}

footer{
    height: 150px;
    background-color: black;
    color: #FFFFFF;
    overflow: hidden;
}

footer > p {
    text-align: center;
}

.form > h1 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}
.form > p{
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    border: 2px solid black;

}

.form > img {
    width: 500px;
    height: 150px;
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}
